.schedule-cell-dimension.e-schedule .e-timeline-month-view .e-resource-cells-wrap table col,
.schedule-cell-dimension.e-schedule .e-timeline-month-view .e-date-header-wrap table col,
.schedule-cell-dimension.e-schedule .e-timeline-month-view .e-content-wrap table col {
    width: calc(100% / 31) !important; 
}

.schedule-cell-dimension.e-schedule .e-timeline-month-view .e-work-cells,
.schedule-cell-dimension.e-schedule .e-timeline-month-view .e-date-header-wrap table col,
.schedule-cell-dimension.e-schedule .e-timeline-month-view .e-resource-cells-wrap table col {
    width: calc(100% / 31) !important; 
}

.schedule-cell-dimension.e-schedule .e-timeline-month-view .e-resource-cells,
.schedule-cell-dimension.e-schedule .e-timeline-month-view .e-work-cells {
    height: 2rem !important;
}

.e-schedule .e-timeline-month-view .e-appointment {
    height: 29px;
    margin-top: -1px;
}

.e-schedule .e-timeline-month-view .e-appointment .e-subject {
    font-size: 11px;
    padding-top: 2px;
}

.e-schedule .e-timeline-month-view .e-appointment .e-time, .e-schedule .e-timeline-month-view .e-appointment .e-location {
    font-size: 10px;
    margin-top: -5px;
}
















.e-schedule .e-timeline-view .e-appointment, .e-schedule .e-timeline-month-view .e-appointment {
    transform: skew(-15deg);
    position: relative; /* Ensure it's relative */
    width: calc(200% + 2px); /* Span across two cells */
    margin-left: -50%; /* Shift it back to be centered between two cells */
    height: 29px; /* Adjust height if needed */
}

.e-schedule .e-appointment .e-right-handler {
    display: block; /* Only the right handler will be visible */
}


/* Ensure the resizing handle only works on the right side */
.e-schedule .e-appointment .e-right-handler {
    display: block; /* Only the right handler will be visible */
}

.e-schedule .e-appointment .e-left-handler {
    display: none; /* Hide the left resize handle */
}