/* Work Cells */
.e-schedule .e-work-cells {
    height: 30px !important;   /* Set cell height */
    width: 87px !important;    /* Set cell width */
  }
  
  /* All-Day Cells */
  .e-schedule .e-all-day-cells {
    height: 30px !important;   /* Set cell height */
    width: 87px !important;    /* Set cell width */
  }
  
  /* Header Cells */
  .e-schedule .e-header-cells {
    height: 30px !important;   /* Set cell height */
    width: 87px !important;    /* Set cell width */
  }
  
  /* Additional Overriding, if needed */
  .e-schedule .e-content-table {
    height: auto !important;
    width: auto !important;
  }







  